<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onroadvehiclebreakdown">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnRoadVehicleBreakdown"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Usereditprofile"
            android:exported="false" />
        <activity
            android:name=".Mechanicviewpumps"
            android:exported="false" />
        <activity android:name=".Mechanicupdatestatusamount" />
        <activity android:name=".Mechanicviewuserdetailss" />
        <activity android:name=".Mechanicviewrequest" />
        <activity android:name=".Userviewrequest" />
        <activity android:name=".Usersendrequest" />
        <activity android:name=".Userviewnearestpetrolpump" />
        <activity android:name=".Userviewnearestservicecenter" />
        <activity android:name=".Userviewmearestmechanic" />
        <activity android:name=".Mechaniceditprofile" />
        <activity android:name=".Publicaddfeedback" />
        <activity android:name=".Publicviewfeedback" />
        <activity android:name=".Publicviewpetrolpump" />
        <activity android:name=".Publicviewmechanics" />
        <activity android:name=".Mechanicregister" />
        <activity android:name=".Publichome" />
        <activity android:name=".Usermakepayment" />
        <activity android:name=".Mechanichome" />
        <activity android:name=".Login" />
        <activity android:name=".Userhome" />
        <activity android:name=".Userregister" />
        <activity android:name=".Usersendcomplaints" />
        <activity android:name=".Ipsettings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <service android:name=".LocationService" />
    </application>

</manifest>