<!DOCTYPE html>
<!--
	Delex by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<html lang="en">
<head>
  <!-- Meta Tags -->
  <meta charset="utf-8"/>

  <!-- Site Title-->
  <title>Admin</title>

  <!-- Mobile Specific Metas-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

  <!-- Google-fonts -->
  <link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Kameron:400,700' rel='stylesheet' type='text/css'>
  
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
  <!-- Fonts-style -->
  <link rel="stylesheet" href="/static/css/styles.css"/>
  <!-- Fonts-style -->
  <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
  <!-- Modal-Effect -->
  <link href="/static/css/component.css" rel="stylesheet">
  <!-- owl-carousel -->
  <link href="/static/css/owl.carousel.css" rel="stylesheet" type="text/css" media="screen">
  <link href="/static/css/owl.theme.css" rel="stylesheet" type="text/css" media="screen">
  <!-- Template Styles-->
  <link rel="stylesheet" href="/static/css/style.css"/>
  <!-- Template Color-->
  <link rel="stylesheet" type="text/css" href="/static/css/green.css" media="screen" id="color-opt" />



</head>

<body data-spy="scroll" data-offset="80">

  <!-- Preloader -->
  <div class="animationload">
    <div class="loader">
        Please Wait....
    </div>
  </div> 
  <!-- End Preloader -->


  <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">BreakDown Assistance</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="adminhome">Home</a></li>
         <!--  <li><a href="login">Login</a></li> -->

            <li class="dropdown">
                            <a href="adminhome" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">MANAGE</a>
                            <ul class="dropdown-menu">
                                <li><a href="admin_manage_mechanic">MECHANIC</a></li>
                                <li><a href="admin_manage_servicecenter">SERVICE CENTER</a></li>
                                <li><a href="admin_manage_pump">PETROL PUMBS</a></li>
                               <!--  <li><a href="admin_manage_brand">BRAND</a></li> -->
                               
                            </ul>
                        </li>

            <li class="dropdown">
                            <a href="adminhome" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">VIEW</a>
                            <ul class="dropdown-menu">
                                <li><a href="admin_view_request">WORK REQUESTS</a></li>
                                <li><a href="admin_view_feedback">VIEW FEEDBACKS</a></li>
                                <li><a href="admin_view_complaints">VIEW COMPLAINTS</a></li>
                               <!--  <li><a href="admin_manage_brand">BRAND</a></li> -->
                               
                            </ul>
                        </li>
          <li><a href="/logout">LOGOUT</a></li>
         <!--  <li><a href="#contact">Contact</a></li> -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>



<!-- 
<!DOCTYPE html>
<html>
<head>
	<title>admin</title>
</head>
<body>
	<table border="1">
		<tr>
			<th><a href="adminhome">HOME</a></th>
			<th><a href="admin_manage_mechanic">MANAGE MECHANIC</a></th>
			<th><a href="admin_manage_servicecenter">MANAGE SERVICE SCENTER</a></th>
			<th><a href="admin_manage_pump">MANAGE PETROLL PUMPS</a></th>
			<th><a href="admin_view_request">VIEW REQUESTS</a></th>
			<th><a href="admin_view_feedback">VIEW FEEDBACKS</a></th>

			<th><a href="admin_view_complaints">VIEW COMPLAINTS</a></th>
			
			<th><a href="/">LOGOUT</a></th>
		</tr>
	</table> -->