{% include 'publicheader.html' %}
    <!-- /HOME -->
    <section class="main-home" style="padding: 330px 0px 550px 0;" id="home">
      <div style=" background-image: url(/static/images/bg-5.jpg);
  background-size: cover;
  z-index: -1;
  position: absolute;
  top: 0;
  opacity: 0.50;
  right: 0;
  bottom: 0;
  left: 0;" ></div> <!-- Background image -->
      <div class="home__header-content">
        <div id="main-home-carousel" class="owl-carousel">
          <div>
           
		   						<center>
		   						<form method="post">
								<h1>LOGIN</h1>
								<table class="table" style="width: 500px">
									<tr>
										<th>USERNAME</th>
										<td><input type="text" name="uname" required class="form-control"></td>
									</tr>
									<tr>
										<th>PASSWORD</th>
										<td><input type="password" name="password" required class="form-control"></td>
									</tr>
									<tr>
										<td colspan="2" align="center"><input type="submit" name="submit" value="login" class="btn btn-primary"></td>
									</tr>
									<!-- <tr>
										<td colspan="2" align="center"><a href="customerreg" class="btn btn-warning">New Customer? cilck here to register</a></td>
									</tr> -->
								</table>
								</form>
							</center>
                            
	
          </div><!--slide item like paragraph-->

        </div>
      </div>
    </section>
 
		   						
		   						<!-- <center>
		   						<form method="post">
								<h1>LOGIN</h1>
								<table class="table" style="width: 500px">
									<tr>
										<th>USERNAME</th>
										<td><input type="text" name="uname" class="form-control"></td>
									</tr>
									<tr>
										<th>PASSWORD</th>
										<td><input type="password" name="password" class="form-control"></td>
									</tr>
									<tr>
										<td colspan="2" align="center"><input type="submit" name="submit" value="login" class="btn btn-primary"></td>
									</tr>
									<tr>
										<td colspan="2" align="center"><a href="stureg" class="btn btn-warning">New User? cilck here to register</a></td>
									</tr>
								</table>
								</form>
							</center> -->



			

{% include 'footer.html' %}